.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-section > .main-items {
  text-align: left;
  padding-left: 40vw;
}

.main-items {
  text-align: right;
}

.userMood__hooks {
  background-color: #f8ebce;
  min-height: 10vh;
  padding-top: 5vmin;
}

.preStyle {
  background-color: #f2d1fa;
  display: block;
  padding: 10px 30px;
  margin: 0;
  overflow: scroll;
}

.nav_section {
  background-color: #e0fcdd;
  display: block;
  padding: 10px 30px;
  margin: 0;
  overflow: scroll;
}

Link {
  padding: 10px;
}
